<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bienvenido a TeamCompass, <%= @user.name %></h1>
  <p>
    Para ingresar a la plataforma utiliza la siguiente información:<br>
    email: <%=@user.email%><br>
    password: <%=@password%><br>
  </p>
</body>
</html>
